h1{
    color:gold;text-align: center;
}
.div1{
    background-color:green;
    width: 400px;
padding: 30px 40px 60px 20px;margin: auto;margin-bottom: 40px;border-radius: 40px;
}



.div2{
    background-color: brown;
    width: 400px;
    padding: 30px 40px 60px 20px;margin: auto;margin-bottom: 40px;border-radius: 40px;
}


.div3{
background-color: aqua;
width: 400px;
padding: 30px 40px 60px 20px;margin: auto;margin-bottom: 40px;border-radius: 40px;
}
.div1 p{
    color: blueviolet;
    text-align: justify;
}
.div2 p{
    color: blueviolet;
    text-align: justify;
}
.div3 p{
    color: blueviolet;
    text-align: justify;
}
.div1 a{
    color: red;text-decoration: none;background-color:purple ;display:inline-block;width: 70px;
    border-radius: 20px;
}
.div1 a:hover{
    background-color: yellow;color: aliceblue;
}
.div1:hover{
    background-color: aqua;
}
.div2 a{
    color: aqua;text-decoration: none;background-color:blue ;display: inline-block;width:70px;
    border-radius: 20px;
}
.div2 a:hover{
    background-color: yellow;color: white;
}
.div2:hover{
    background-color:purple ;
}
.div3 a{
    color: red;text-decoration: none;background-color: black;display: inline-block;width:70px;
    border-radius: 20px;
}
.div3 a:hover{
    background-color: yellow;color: aquamarine;
}
.div3:hover{
    background-color: green;
}